body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

table {
  width: 100%;
  max-width: 900px;
  border: 3px solid #009a44;           
  
}

caption {
  background-color: #d7d600;           
  color: #009a44;
  font-size: 28px;
  padding: 6px;
}

th, td {
  border: 2px solid #009a44;
  padding: 8px;
}

th {
  background-color: #ffffff;
  color: #222;
  font-size: 22px;
}

tbody tr {
  background-color: #dfe8d6;         
}

.time {
  font-size: 22px;
}
.time span {
  float: left;
}
.time img {
  float: right;
  width: 32px;
  height: 32px;
}

.qtd  { text-align: center; font-size: 22px; }
.anos { text-align: right;  font-size: 22px; }

tbody tr:hover {
  background-color: yellow;
  color: green;
}
